## Library importation

In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [13]:
fromfile = pd.read_csv('NYC_Property_Data.csv')
data

,Unnamed: 0,Unnamed: 0.1,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,153 AVENUE B,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19 00:00:00
3,3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,154 EAST 7TH STREET,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23 00:00:00
4,4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,301 EAST 10TH STREET,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17 00:00:00
6,6,10,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,210 AVENUE B,...,8,0,8,1750.0,4226.0,1920,2,C4,3192840.0,2016-09-23 00:00:00
9,9,13,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,629 EAST 5TH STREET,...,24,0,24,4489.0,18523.0,1920,2,D9,16232000.0,2016-11-07 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,B9,37 QUAIL LANE,...,2,0,2,2400.0,2575.0,1998,1,B9,450000.0,2016-11-28 00:00:00
84544,84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,B9,32 PHEASANT LANE,...,2,0,2,2498.0,2377.0,1998,1,B9,550000.0,2017-04-21 00:00:00
84545,84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,B2,49 PITNEY AVENUE,...,2,0,2,4000.0,1496.0,1925,1,B2,460000.0,2017-07-05 00:00:00
84546,84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033.0,64117.0,2001,4,K6,11693337.0,2016-12-21 00:00:00
84547,84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,P9,155 CLAY PIT ROAD,...,0,1,1,10796.0,2400.0,2006,4,P9,69300.0,2016-10-27 00:00:00

## Cleaning of the Data

In [14]:
fromfile.isnull().sum()

Unnamed: 0                            0
Unnamed: 0.1                          0
BOROUGH                               0
NEIGHBORHOOD                          0
BUILDING CLASS CATEGORY               0
TAX CLASS AT PRESENT                738
BLOCK                                 0
LOT                                   0
BUILDING CLASS AT PRESENT           738
ADDRESS                               0
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                  26252
GROSS SQUARE FEET                 27612
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                        14561
SALE DATE                             0
dtype: int64

In [15]:
fromfile.dropna(how ='any', inplace=True)

In [16]:
fromfile.isnull().sum()

Unnamed: 0                        0
Unnamed: 0.1                      0
BOROUGH                           0
NEIGHBORHOOD                      0
BUILDING CLASS CATEGORY           0
TAX CLASS AT PRESENT              0
BLOCK                             0
LOT                               0
BUILDING CLASS AT PRESENT         0
ADDRESS                           0
ZIP CODE                          0
RESIDENTIAL UNITS                 0
COMMERCIAL UNITS                  0
TOTAL UNITS                       0
LAND SQUARE FEET                  0
GROSS SQUARE FEET                 0
YEAR BUILT                        0
TAX CLASS AT TIME OF SALE         0
BUILDING CLASS AT TIME OF SALE    0
SALE PRICE                        0
SALE DATE                         0
dtype: int64

## Removal of Unwanted Data

In [20]:
detail = fromfile.drop(['Unnamed: 0', 'Unnamed: 0.1','SALE PRICE','ADDRESS','SALE DATE'], axis = 1)
detail.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,10009,5,0,5,1633.0,6440.0,1900,2,C2
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,10009,10,0,10,2272.0,6794.0,1913,2,C4
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,10009,6,0,6,2369.0,4615.0,1900,2,C2
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,10009,8,0,8,1750.0,4226.0,1920,2,C4
9,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,10009,24,0,24,4489.0,18523.0,1920,2,D9

In [21]:
select = fromfile['SALE PRICE']

## Data Processing

In [22]:
le = LabelEncoder()
detail

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE
0,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,C2,10009,5,0,5,1633.0,6440.0,1900,2,C2
3,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,C4,10009,10,0,10,2272.0,6794.0,1913,2,C4
4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,C2,10009,6,0,6,2369.0,4615.0,1900,2,C2
6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,406,32,C4,10009,8,0,8,1750.0,4226.0,1920,2,C4
9,1,ALPHABET CITY,08 RENTALS - ELEVATOR APARTMENTS,2,387,153,D9,10009,24,0,24,4489.0,18523.0,1920,2,D9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,B9,10309,2,0,2,2400.0,2575.0,1998,1,B9
84544,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,B9,10309,2,0,2,2498.0,2377.0,1998,1,B9
84545,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,B2,10309,2,0,2,4000.0,1496.0,1925,1,B2
84546,5,WOODROW,22 STORE BUILDINGS,4,7100,28,K6,10309,0,7,7,208033.0,64117.0,2001,4,K6
84547,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,P9,10309,0,1,1,10796.0,2400.0,2006,4,P9

In [39]:
detail['NEIGHBORHOOD'] = le.fit_transform(detail['NEIGHBORHOOD'])
detail['BUILDING CLASS CATEGORY'] = le.fit_transform(detail['BUILDING CLASS CATEGORY'])
detail['TAX CLASS AT PRESENT'] = le.fit_transform(detail['TAX CLASS AT PRESENT'])
detail['BUILDING CLASS AT PRESENT'] = le.fit_transform(detail['BUILDING CLASS AT PRESENT'])
detail['BUILDING CLASS AT TIME OF SALE'] = le.fit_transform(detail['BUILDING CLASS AT TIME OF SALE'])

In [40]:
detail

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE
0,1,1,6,5,392,6,15,10009,5,0,5,1633.0,6440.0,1900,2,15
3,1,1,6,6,402,21,17,10009,10,0,10,2272.0,6794.0,1913,2,17
4,1,1,6,5,404,55,15,10009,6,0,6,2369.0,4615.0,1900,2,15
6,1,1,6,6,406,32,17,10009,8,0,8,1750.0,4226.0,1920,2,17
9,1,1,7,4,387,153,33,10009,24,0,24,4489.0,18523.0,1920,2,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,5,248,1,0,7349,34,12,10309,2,0,2,2400.0,2575.0,1998,1,12
84544,5,248,1,0,7349,78,12,10309,2,0,2,2498.0,2377.0,1998,1,12
84545,5,248,1,0,7351,60,10,10309,2,0,2,4000.0,1496.0,1925,1,10
84546,5,248,20,9,7100,28,81,10309,0,7,7,208033.0,64117.0,2001,4,82
84547,5,248,32,9,7105,679,109,10309,0,1,1,10796.0,2400.0,2006,4,110

## The Model

In [41]:
detail_train, detail_test, select_train, select_test = train_test_split(detail, select, test_size = 0.25)

In [42]:
detail_train.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,BUILDING CLASS AT PRESENT,ZIP CODE,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE
28437,3,19,20,9,5569,6,76,11204,0,5,5,9980.0,8450.0,1931,4,77
55567,4,74,1,0,15659,10,10,11691,2,0,2,1350.0,2010.0,2006,1,10
20906,2,144,7,4,2459,34,31,10451,81,10,91,28444.0,122800.0,1931,2,31
20616,2,129,1,0,5763,535,9,10463,2,0,2,2565.0,2860.0,1960,1,9
31218,3,29,6,5,3509,47,16,11212,4,0,4,2500.0,3116.0,1930,2,16

In [43]:
regressor = LinearRegression()

In [44]:
model = regressor.fit(detail_train, select_train)

In [45]:
select_pred = model.predict(detail_test)

## Using a Table to Show Actual vs Prediction and their Errors

In [46]:
pd.DataFrame({'Actual': select_test, 'Predicted': select_pred, 'Error': select_test-select_pred})

          Actual     Predicted         Error
30278   325000.0  7.964456e+05 -4.714456e+05
78568   300000.0  3.851305e+04  2.614870e+05
30789  1045000.0  1.499631e+06 -4.546311e+05
33036        0.0  1.650926e+06 -1.650926e+06
71577   275000.0 -3.783341e+05  6.533341e+05
...          ...           ...           ...
83625   735000.0  5.955917e+05  1.394083e+05
67674   900000.0  2.242727e+05  6.757273e+05
24775        0.0  1.172994e+06 -1.172994e+06
38766   707500.0  7.595071e+05 -5.200706e+04
83830   753505.0  6.091394e+05  1.443656e+05

[11973 rows x 3 columns]